@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* Global Variables */

:root{
    --background-color: #f6f7fb;
    --dark-color: #333;
    --grey-color: #83919C;
    --main: #EF97B4;
    --light-accent-one: #FFDAE9;
    --light-accent-two: #8BCCEC;
    --dark-accent-one: #eb7ca1;
    --dark-accent-two: #52b2e2;
    --light-color: white;
}

/* General Styles */
*, *::before, *::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body, button, input, textarea {
    font-family: 'Poppins', sans-serif; 
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    position: relative;
    z-index: 5;
    max-width: 92rem;
    margin: 0 auto;
    padding: 0 4rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 1.25rem;
    color: var(--dark-color);
    line-height: 1.5;
}


.column-1 {
    margin-right: 1.5rem;
}

.column-2{
    margin-left: 1.5rem;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section {
    padding: 7rem 0;
}


.section-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.title {
    position: relative;
    display:inline-block;
    padding-bottom: 1rem;
    line-height: 1;
    font-size: 2.5rem;
    margin-bottom: 0.6rem;
}

.title:before {
    content:attr(data-title);
    display: block;
    margin-bottom: 0.3rem;
    color: var(--main);
    font-size: 1.15rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.title:after {
    content: "";
    position: absolute;
    width: 90px;
    height: 5px;
    border-radius: 3px;
    background-color: var(--main);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.section-header .text {
    max-width: 600px;
    margin: 0 auto;
}

/* Header Styles */

header {
    width: 100%;
    background-color: var(--background-color);
    overflow: hidden;
}

nav {
    width: 100%;
    position: relative;
    z-index: 50;
}

nav .container {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    align-items: center;
}

.logo {
    width: 200px;
    display: flex; 
    align-items: center;
}

.links ul{
    display: flex;
}

.links a {
    display: inline-block;
    padding: 0.9rem 1.2rem;
    color: var(--dark-color);
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
}

.links a.active {
    background-color: var(--main);
    color: var(--background-color);
    border-radius: 2rem;
    font-size: 1rem;
    padding: .9rem 2.1rem;
    margin-left: 1rem;
}

.links a:hover {
    color: var(--main);
}

.links a.active:hover {
    color: var(--light-color);
    background-color: var(--dark-accent-one);
}

.header-content .container.grid-2 {
    grid-template-columns: 2.5fr 3.5fr;
    min-height: calc(100vh - 6rem);
    padding-bottom: 2.5rem;
    text-align: left;
}

.header-title {
    font-size: 3.8rem;
    line-height: .9;
    color: var(--dark-color);
}

.header-content .text {
    margin: 2.15rem 0;
}

.btn {
    display: inline-block;
    padding: .85rem 2rem;
    background-color: var(--main);
    color: var(--light-color);
    border-radius: 2rem;
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--dark-accent-one);
}

.header-content .image .img-element {
    max-width: 750px;
}

/* Services */

.cards {
    display: flex;

}

.icon {
    width: 90px;
}