 .u-section-1 {
  min-height: 66px;
}

.u-section-1 .u-sheet-1 {
  min-height: 655px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-icon-1 {
  height: 69px;
  width: 69px;
  background-image: none;
  margin: 161px auto 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-image-1 {
  min-height: 655px;
  background-image: url("/images/Dayflow-FamilyTime.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 318px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-1 .u-image-1 {
    min-height: 540px;
    background-size: 125%;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 192px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 414px;
    background-size: auto 125%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 66px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 621px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 391px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 616px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 576px;
}

.u-section-2 .u-container-layout-1 {
  padding: 28px 30px;
}

.u-section-2 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 498px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 576px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px 0 10px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 30px 0 0 auto;
}

.u-section-2 .u-text-2 {
  line-height: 1.6;
  margin: 19px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-2 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-2 .u-icon-3 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-2 .u-icon-4 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 750px;
  }

  .u-section-2 .u-image-1 {
    height: 400px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 475px;
  }

  .u-section-2 .u-icon-1 {
    color: rgb(59, 89, 152) !important;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 644px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 507px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-2 .u-image-1 {
    height: 312px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 906px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto auto;
  margin: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 714px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 95px;
  width: 95px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 20px 20px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 95px;
  width: 95px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  margin: 20px 20px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 95px;
  width: 95px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 20px 20px 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 95px;
  width: 95px;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  margin: 20px 20px 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-icon-5 {
  height: 95px;
  width: 95px;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  margin: 20px 20px 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-icon-6 {
  height: 95px;
  width: 95px;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  margin: 20px 20px 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-icon-7 {
  height: 95px;
  width: 95px;
  margin: 0 auto;
}

.u-section-3 .u-text-9 {
  margin: 20px 20px 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-icon-8 {
  height: 95px;
  width: 95px;
  margin: 0 auto;
}

.u-section-3 .u-text-10 {
  margin: 20px 20px 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-icon-9 {
  height: 95px;
  width: 95px;
  margin: 0 auto;
}

.u-section-3 .u-text-11 {
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1068px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 588px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1987px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1126px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 951px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto auto;
  margin-top: 59px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 95px;
  width: 95px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 21px 20px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 95px;
  width: 95px;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  margin: 21px 20px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 95px;
  width: 95px;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 21px 20px 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 95px;
  width: 95px;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  margin: 21px 20px 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-icon-5 {
  height: 95px;
  width: 95px;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  margin: 21px 20px 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-icon-6 {
  height: 95px;
  width: 95px;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  margin: 21px 20px 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-icon-7 {
  height: 95px;
  width: 95px;
  margin: 0 auto;
}

.u-section-4 .u-text-9 {
  margin: 21px 20px 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

.u-section-4 .u-icon-8 {
  height: 95px;
  width: 95px;
  margin: 0 auto;
}

.u-section-4 .u-text-10 {
  margin: 21px 20px 0;
}

.u-section-4 .u-container-layout-9 {
  padding: 30px;
}

.u-section-4 .u-icon-9 {
  height: 95px;
  width: 95px;
  margin: 0 auto;
}

.u-section-4 .u-text-11 {
  margin: 21px 20px 0;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    grid-gap: 0px 0px;
    min-height: 259px;
    grid-auto-columns: 50%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 78px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 78px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 78px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-icon-4 {
    margin-top: 78px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-icon-5 {
    margin-top: 78px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-icon-6 {
    margin-top: 78px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 14px;
  }

  .u-section-4 .u-icon-7 {
    margin-top: 78px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-icon-8 {
    margin-top: 78px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-icon-9 {
    margin-top: 78px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-top: 72px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-4 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-4 .u-icon-5 {
    margin-top: 0;
  }

  .u-section-4 .u-icon-6 {
    margin-top: 0;
  }

  .u-section-4 .u-icon-7 {
    margin-top: 0;
  }

  .u-section-4 .u-icon-8 {
    margin-top: 0;
  }

  .u-section-4 .u-icon-9 {
    margin-top: 0;
  }

  .u-section-4 .u-gallery-nav-1 {
    padding: 4px;
  }

  .u-section-4 .u-gallery-nav-2 {
    padding: 4px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 693px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 297px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin-top: 0;
  font-weight: 700;
  font-size: 1.875rem;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 297px;
  background-image: url("/images/pexels-photo-950754.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  min-height: 297px;
  background-image: url("/images/pexels-photo-2438208.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  min-height: 297px;
  background-image: url("/images/pexels-photo-4107897.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  min-height: 297px;
  background-image: url("/images/pexels-photo-6171394.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-image-5 {
  min-height: 297px;
  background-image: url("/images/799ab0b62a43b26121deae2d425c89616750d78460558a6ed44a04a2818ba32be732c4d280bded019d8e55ede490dc5824e0eb6fc582ea8ed9160a_1280-33.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-image-6 {
  min-height: 297px;
  background-image: url("/images/pexels-photo-2438212.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-8 {
  min-height: 297px;
  background-image: none;
}

.u-section-5 .u-container-layout-8 {
  padding: 10px;
}

.u-section-5 .u-icon-1 {
  height: 88px;
  width: 88px;
  margin: 25px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 25px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 245px;
  }

  .u-section-5 .u-image-1 {
    min-height: 245px;
  }

  .u-section-5 .u-image-2 {
    min-height: 245px;
  }

  .u-section-5 .u-image-3 {
    min-height: 245px;
  }

  .u-section-5 .u-image-4 {
    min-height: 245px;
  }

  .u-section-5 .u-image-5 {
    min-height: 245px;
  }

  .u-section-5 .u-image-6 {
    min-height: 245px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 245px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1599px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    min-height: 375px;
  }

  .u-section-5 .u-image-2 {
    min-height: 375px;
  }

  .u-section-5 .u-image-3 {
    min-height: 375px;
  }

  .u-section-5 .u-image-4 {
    min-height: 375px;
  }

  .u-section-5 .u-image-5 {
    min-height: 375px;
  }

  .u-section-5 .u-image-6 {
    min-height: 375px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3477px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 563px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 563px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 563px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    min-height: 563px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-5 {
    min-height: 563px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-6 {
    min-height: 563px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2223px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 354px;
  }

  .u-section-5 .u-image-2 {
    min-height: 354px;
  }

  .u-section-5 .u-image-3 {
    min-height: 354px;
  }

  .u-section-5 .u-image-4 {
    min-height: 354px;
  }

  .u-section-5 .u-image-5 {
    min-height: 354px;
  }

  .u-section-5 .u-image-6 {
    min-height: 354px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 800px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 30px 117px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 50px;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    border-style: none;
    margin-bottom: 50px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 693px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  min-height: 576px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 297px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin-top: 0;
  font-weight: 700;
  font-size: 1.875rem;
  margin-bottom: 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-image-1 {
  min-height: 297px;
  background-image: url("/images/pexels-photo-9507541.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  min-height: 297px;
  background-image: url("/images/pexels-photo-24382081.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  min-height: 297px;
  background-image: url("/images/pexels-photo-41078971.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-image-4 {
  min-height: 297px;
  background-image: url("/images/pexels-photo-61713941.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-image-5 {
  min-height: 297px;
  background-image: url("/images/799ab0b62a43b26121deae2d425c89616750d78460558a6ed44a04a2818ba32be732c4d280bded019d8e55ede490dc5824e0eb6fc582ea8ed9160a_1280.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

.u-section-7 .u-image-6 {
  min-height: 297px;
  background-image: url("/images/pexels-photo-24382121.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-7 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-8 {
  min-height: 297px;
  background-image: none;
}

.u-section-7 .u-container-layout-8 {
  padding: 10px;
}

.u-section-7 .u-icon-1 {
  height: 88px;
  width: 88px;
  margin: 25px auto 0;
  padding: 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 25px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-7 .u-layout-wrap-1 {
    min-height: 160px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 245px;
  }

  .u-section-7 .u-image-1 {
    min-height: 245px;
  }

  .u-section-7 .u-image-2 {
    min-height: 245px;
  }

  .u-section-7 .u-image-3 {
    min-height: 245px;
  }

  .u-section-7 .u-image-4 {
    min-height: 245px;
  }

  .u-section-7 .u-image-5 {
    min-height: 245px;
  }

  .u-section-7 .u-image-6 {
    min-height: 245px;
  }

  .u-section-7 .u-layout-cell-8 {
    min-height: 245px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1599px;
  }

  .u-section-7 .u-layout-wrap-1 {
    min-height: 650px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    min-height: 375px;
  }

  .u-section-7 .u-image-2 {
    min-height: 375px;
  }

  .u-section-7 .u-image-3 {
    min-height: 375px;
  }

  .u-section-7 .u-image-4 {
    min-height: 375px;
  }

  .u-section-7 .u-image-5 {
    min-height: 375px;
  }

  .u-section-7 .u-image-6 {
    min-height: 375px;
  }

  .u-section-7 .u-layout-cell-8 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 3477px;
  }

  .u-section-7 .u-layout-wrap-1 {
    min-height: 1778px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    min-height: 563px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    min-height: 563px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    min-height: 563px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-4 {
    min-height: 563px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-5 {
    min-height: 563px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-6 {
    min-height: 563px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2223px;
  }

  .u-section-7 .u-layout-wrap-1 {
    min-height: 524px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-image-1 {
    min-height: 354px;
  }

  .u-section-7 .u-image-2 {
    min-height: 354px;
  }

  .u-section-7 .u-image-3 {
    min-height: 354px;
  }

  .u-section-7 .u-image-4 {
    min-height: 354px;
  }

  .u-section-7 .u-image-5 {
    min-height: 354px;
  }

  .u-section-7 .u-image-6 {
    min-height: 354px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 477px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  width: auto;
  margin: 50px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-8 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 50px 0;
}

@media (max-width: 767px) {
  .u-section-8 .u-btn-1 {
    border-style: none;
  }
} .u-section-9 {
  background-image: url("/images/Abstract-medium.png");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 760px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 640px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 60px 30px 30px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  text-transform: none;
  line-height: 52.8px;
  margin: 85px 0 0;
}

.u-section-9 .u-text-2 {
  letter-spacing: 2px;
  margin: 32px 0 0;
}

.u-section-9 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 30px auto 0 0;
}

.u-section-9 .u-icon-1 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-9 .u-icon-2 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-9 .u-icon-3 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-9 .u-icon-4 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 640px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 30px 30px 60px;
}

.u-section-9 .u-form-1 {
  margin: 0;
}

.u-section-9 .u-label-1 {
  font-weight: 700;
}

.u-section-9 .u-label-2 {
  font-weight: 700;
}

.u-section-9 .u-form-group-3 {
  margin-left: 0;
}

.u-section-9 .u-label-3 {
  font-weight: 700;
}

.u-section-9 .u-label-4 {
  font-weight: 700;
}

.u-section-9 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 528px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 37px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 137px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    line-height: 1.2;
  }
}